
$fuentePrincipal : 'Passion One', cursive;
$fuenteSecundaria :'Turret Road', cursive;


.listContainer 
{
    width:80%;
    height: 100rem;
    margin: 40rem auto;
    display: flex;
      
}
.contenedor_cargando 
{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectores 
{
  width: 20%;
  height: 100rem;
  background-color: rgb(36, 36, 37,.6);
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  h2
  {
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
  }
  h3 
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: #fff6af;
    text-align: center;
    transition:all .4s ease-in-out;
  }
  a 
  {
    text-decoration: none;
  }
 

}
.selectores h3:hover 
{
  background-color: #ffaa22;
  color: #242425;
  border-radius: 1rem;
}
.contenedor_peliculas 
{
  width: 80%;
  height: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding: 2rem;
}
.informacionPagina 
{
  width: 80%;
  height: 28rem;
  position: absolute;
  background-color: #242425;
  margin-top: -30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  h2 
  {
    font-size: 3rem;
    font-weight: 300;
    font-family: $fuentePrincipal;
    margin-bottom: 0;
    text-align: center;
  }
  h3 
  {
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
  }
}
.listContainer .informacion_pago 
{
 width: 100%;
 height: 15rem;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.informacion_pago .box 
{
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  span 
  {
    font-size: 7rem;
    color: #ffaa22;
    
  }
  h3 
  {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3rem;
  }
}